@model MVCPractice.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2> Welcome!</h2>




<div>
    @Html.ActionLink("Create Persont", "Create")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


